In [162]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [163]:
path = './data/'
olist_customer = pd.read_csv(path + 'olist_customers_dataset.csv')
olist_geolocation = pd.read_csv(path + 'olist_geolocation_dataset.csv')
olist_order_items = pd.read_csv(path + 'olist_order_items_dataset.csv')
olist_order_payments = pd.read_csv(path + 'olist_order_payments_dataset.csv')
olist_order_reviews = pd.read_csv(path + 'olist_order_reviews_dataset.csv')
olist_orders = pd.read_csv(path + 'olist_orders_dataset.csv')
olist_products = pd.read_csv(path + 'olist_products_dataset.csv')
olist_sellers = pd.read_csv(path + 'olist_sellers_dataset.csv')
olist_translation = pd.read_csv(path + 'product_category_name_translation.csv')

df = pd.read_csv(path+'merged_data.csv')

In [164]:
def classify_cat(x):

    if x in ['office_furniture', 'furniture_decor', 'furniture_living_room', 'kitchen_dining_laundry_garden_furniture', 'bed_bath_table', 'home_comfort', 'home_comfort_2', 'home_construction', 'garden_tools', 'furniture_bedroom', 'furniture_mattress_and_upholstery']:
        return 'Furniture'
    
    elif x in ['auto', 'computers_accessories', 'musical_instruments', 'consoles_games', 'watches_gifts', 'air_conditioning', 'telephony', 'electronics', 'fixed_telephony', 'tablets_printing_image', 'computers', 'small_appliances_home_oven_and_coffee', 'small_appliances', 'audio', 'signaling_and_security', 'security_and_services']:
        return 'Electronics'
    
    elif x in ['fashio_female_clothing', 'fashion_male_clothing', 'fashion_bags_accessories', 'fashion_shoes', 'fashion_sport', 'fashion_underwear_beach', 'fashion_childrens_clothes', 'baby', 'cool_stuff', ]:
        return 'Fashion'
    
    elif x in ['housewares', 'home_confort', 'home_appliances', 'home_appliances_2', 'flowers', 'costruction_tools_garden', 'garden_tools', 'construction_tools_lights', 'costruction_tools_tools', 'luggage_accessories', 'la_cuisine', 'pet_shop', 'market_place']:
        return 'Home & Garden'
    
    elif x in ['sports_leisure', 'toys', 'cds_dvds_musicals', 'music', 'dvds_blu_ray', 'cine_photo', 'party_supplies', 'christmas_supplies', 'arts_and_craftmanship', 'art']:
        return 'Entertainment'
    
    elif x in ['health_beauty', 'perfumery', 'diapers_and_hygiene']:
        return 'Beauty & Health'
    
    elif x in ['food_drink', 'drinks', 'food']:
        return 'Food & Drinks'
    
    elif x in ['books_general_interest', 'books_technical', 'books_imported', 'stationery']:
        return 'Books & Stationery'
    
    elif x in ['construction_tools_construction', 'construction_tools_safety', 'industry_commerce_and_business', 'agro_industry_and_commerce']:
        return 'Industry & Construction'

df['product_category'] = df.product_category_name_english.apply(classify_cat)

In [165]:
df['order_purchase_timestamp'] = pd.to_datetime(df.order_purchase_timestamp)
df['order_approved_at'] = pd.to_datetime(df.order_approved_at)
df['order_delivered_carrier_date'] = pd.to_datetime(df.order_delivered_carrier_date)
df['order_delivered_customer_date'] = pd.to_datetime(df.order_delivered_customer_date)
df['order_estimated_delivery_date'] = pd.to_datetime(df.order_estimated_delivery_date)

In [166]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115609 entries, 0 to 115608
Data columns (total 40 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Unnamed: 0                     115609 non-null  int64
 1   customer_id                    115609 non-null  object
 2   customer_unique_id             115609 non-null  object
 3   customer_zip_code_prefix       115609 non-null  int64
 4   customer_city                  115609 non-null  object
 5   customer_state                 115609 non-null  object
 6   order_id                       115609 non-null  object
 7   order_status                   115609 non-null  object
 8   order_purchase_timestamp       115609 non-null  datetime64[ns]
 9   order_approved_at              115595 non-null  datetime64[ns]
 10  order_delivered_carrier_date   114414 non-null  datetime64[ns]
 11  order_delivered_customer_date  113209 non-null  datetime64[ns]
 12  order_estimated_delivery_date  115609 non-null  datetime64[ns]
 13  review_id                      115609 non-null  object
 14  review_score                   115609 non-null  int64
 15  review_creation_date           115609 non-null  object
 16  review_answer_timestamp        115609 non-null  object
 17  order_item_id                  115609 non-null  int64
 18  product_id                     115609 non-null  object
 19  seller_id                      115609 non-null  object
 20  shipping_limit_date            115609 non-null  object
 21  price                          115609 non-null  float64
 22  freight_value                  115609 non-null  float64
 23  product_category_name          115609 non-null  object
 24  product_name_length            115609 non-null  float64
 25  product_description_length     115609 non-null  float64
 26  product_photos_qty             115609 non-null  float64
 27  product_weight_g               115608 non-null  float64
 28  product_length_cm              115608 non-null  float64
 29  product_height_cm              115608 non-null  float64
 30  product_width_cm               115608 non-null  float64
 31  payment_sequential             115609 non-null  int64
 32  payment_type                   115609 non-null  object
 33  payment_installments           115609 non-null  int64
 34  payment_value                  115609 non-null  float64
 35  seller_zip_code_prefix         115609 non-null  int64
 36  seller_city                    115609 non-null  object
 37  seller_state                   115609 non-null  object
 38  product_category_name_english  115609 non-null  object
 39  product_category               115609 non-null  object
dtypes: datetime64[ns](5), float64(10), int64(7), object(18)
memory usage: 35.3+ MB

In [167]:
dCat_TopOrders = df.groupby(df['product_id'])['order_id'].nunique().reset_index().sort_values('order_id', ascending = False)

In [168]:
dCat_TopOrders

                             product_id  order_id
19287  99a4788cb24856965c36a24e339b6058       458
21607  aca2eb7d00ea1a7b8ebd4e68314663af       429
8402   422879e10f46682990de24d770e7f83d       351
26411  d1c427060a0f73f6b889a5c7c61f2ac4       320
7184   389d119b48cf3043d311335e499d9c6b       310
...                                 ...       ...
13384  69ff1e4ad10ccba4d0e1ffc0aa771380         1
13383  69fef0f440d7a4d03f5d883264132dc2         1
13382  69fb24f0cd077f460768e66b89c3565e         1
13381  69faf0d53eb73597d6cfd50175901a56         1
32170  fffe9eeff12fcbd74a2f2b007dde0c58         1

[32171 rows x 2 columns]

In [169]:
cat_reviews = df.groupby(df['product_id'])['review_score'].mean().reset_index().sort_values('review_score', ascending = False)

In [170]:
cat_reviews

                             product_id  review_score
0      00066f42aeeb9f3007548bb9d3f33c38           5.0
12150  602683dfc9bccec955b0527af47a15ed           5.0
12129  5ffd443a2b6ec639a1e28bc11936455a           5.0
12130  5ffeff2ac45b628674ce03e75ce4d6e3           5.0
12132  6000cda32a1e7f6919ae1fcdf1d6259a           5.0
...                                 ...           ...
6722   34dfc6386b7550503bd2e582ef45d041           1.0
28191  e003753295c13f3c5e1cff06d3728fd4           1.0
22031  afb83a05bfcf46258f04ce060671d5b4           1.0
17182  888eeb22340037a42971d30e3808a745           1.0
6856   3626035966a7aaee90d68108caebd386           1.0

[32171 rows x 2 columns]

In [171]:
avg_item_val = df.groupby(df['product_id'])['price'].mean().reset_index().sort_values('price', ascending = False)

In [172]:
avg_item_val

                             product_id    price
9200   489ae2aa008f021502940f251d4cce7f  6735.00
3603   1bdf5e6731585cf01aa8169c7028d6ad  6499.00
20826  a6492cc69376c469ab6f61d8f44de961  4799.00
24606  c3ed642d592594bb648ff4a04cee2747  4690.00
4847   259037a6a41845e455183f89c5035f18  4590.00
...                                 ...      ...
6232   310dc32058903b6416c71faff132df9e     2.29
9009   46fce52cef5caa7cc225a5531c946c8b     2.20
5033   270516a3f41dc035aa87d220228f844c     1.20
682    05b515fdc76e888aada3c6d66c201dff     1.20
17359  8a3254bee785a526d548a81a9bc3c9be     0.85

[32171 rows x 2 columns]

In [173]:
df['delivered_estimated'] = (df.order_estimated_delivery_date - df.order_delivered_customer_date).dt.days

In [174]:
esti_del_time = df.groupby(df['product_id'])['delivered_estimated'].mean().reset_index().sort_values('delivered_estimated', ascending = False)

In [175]:
esti_del_time

                             product_id  delivered_estimated
29931  ee2f96cb63d491d963a67285f048775a                139.0
5373   29dcc20b00ccb0dd2136eb2f4c5f3847                134.0
7166   38841dec90eddf2f43cdfabc48b3831a                108.0
17094  87b92e06b320e803d334ac23966c80b1                 84.0
24272  c144fdb6fc3bda28fb58900cdb37247c                 83.0
...                                 ...                  ...
31932  fe2f068d3b10f48ac104cd8c8dbcdfe8                  NaN
31935  fe34a95208c5b3b69d91552aecf1bd71                  NaN
31941  fe4afcfae208147e0189eaa4c3f5fb8d                  NaN
31953  fe644da1135fedca6aa0bf794fab71be                  NaN
32135  ffbfa9e143fda4420454d0f4e88a3cd5                  NaN

[32171 rows x 2 columns]

In [176]:
df_reg = pd.merge(dCat_TopOrders, cat_reviews, on="product_id", how='outer')
df_reg = df_reg.merge(avg_item_val, on="product_id", how='outer')
df_reg = df_reg.merge(esti_del_time, on="product_id", how='outer')

In [177]:
df_reg

,product_id,order_id,review_score,price,delivered_estimated
0,99a4788cb24856965c36a24e339b6058,458,3.914894,88.175551,9.459566
1,aca2eb7d00ea1a7b8ebd4e68314663af,429,4.020638,71.347655,9.020913
2,422879e10f46682990de24d770e7f83d,351,3.927022,54.827850,9.360947
3,d1c427060a0f73f6b889a5c7c61f2ac4,320,4.096045,137.554802,12.171512
4,389d119b48cf3043d311335e499d9c6b,310,4.106173,54.635284,8.920398
...,...,...,...,...,...
32166,69ff1e4ad10ccba4d0e1ffc0aa771380,1,3.000000,189.990000,3.000000
32167,69fef0f440d7a4d03f5d883264132dc2,1,5.000000,695.720000,11.000000
32168,69fb24f0cd077f460768e66b89c3565e,1,5.000000,45.000000,8.000000
32169,69faf0d53eb73597d6cfd50175901a56,1,5.000000,29.900000,45.000000
32170,fffe9eeff12fcbd74a2f2b007dde0c58,1,4.000000,249.990000,-3.000000

In [178]:
df_reg.nunique().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of product_id             32171
order_id                 128
review_score             685
price                   8774
delivered_estimated     1915
dtype: int64>

In [179]:
dict = {'order_id': 'sales_amt',
        'review_score': 'avg_review_score',
        'price': 'avg_price',
        'delivered_estimated': 'estimated_delivery',
       }

# call rename () method
df_reg.rename(columns=dict,
          inplace=True)

In [180]:
a = df.loc[:, ['product_id','product_category']]

In [181]:
sales = pd.merge(df_reg,a, on="product_id", how='right')

In [182]:
sales

,product_id,sales_amt,avg_review_score,avg_price,estimated_delivery,product_category
0,a9516a079e37a9c9c36b9b78b10169e8,40,3.393443,119.285082,10.245902,Furniture
1,a9516a079e37a9c9c36b9b78b10169e8,40,3.393443,119.285082,10.245902,Furniture
2,a9516a079e37a9c9c36b9b78b10169e8,40,3.393443,119.285082,10.245902,Furniture
3,a9516a079e37a9c9c36b9b78b10169e8,40,3.393443,119.285082,10.245902,Furniture
4,a9516a079e37a9c9c36b9b78b10169e8,40,3.393443,119.285082,10.245902,Furniture
...,...,...,...,...,...,...
115604,ea9b0b855335919945731f9368f83dc9,1,5.000000,193.000000,17.000000,Home & Garden
115605,0c800efe70e04ffcc3b266946e3e4826,1,4.000000,389.000000,11.000000,Home & Garden
115606,775596b5ab8f1cb5890c7263c1c92bc4,1,5.000000,139.000000,13.000000,Home & Garden
115607,cc9e875c2df286dbed83efe01191162c,1,5.000000,129.000000,18.000000,Home & Garden
115608,cc9e875c2df286dbed83efe01191162c,1,5.000000,129.000000,18.000000,Home & Garden

In [183]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 115609 entries, 0 to 115608
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   product_id          115609 non-null  object
 1   sales_amt           115609 non-null  int64
 2   avg_review_score    115609 non-null  float64
 3   avg_price           115609 non-null  float64
 4   estimated_delivery  114674 non-null  float64
 5   product_category    115609 non-null  object
dtypes: float64(3), int64(1), object(2)
memory usage: 6.2+ MB

In [184]:
sales

,product_id,sales_amt,avg_review_score,avg_price,estimated_delivery,product_category
0,a9516a079e37a9c9c36b9b78b10169e8,40,3.393443,119.285082,10.245902,Furniture
1,a9516a079e37a9c9c36b9b78b10169e8,40,3.393443,119.285082,10.245902,Furniture
2,a9516a079e37a9c9c36b9b78b10169e8,40,3.393443,119.285082,10.245902,Furniture
3,a9516a079e37a9c9c36b9b78b10169e8,40,3.393443,119.285082,10.245902,Furniture
4,a9516a079e37a9c9c36b9b78b10169e8,40,3.393443,119.285082,10.245902,Furniture
...,...,...,...,...,...,...
115604,ea9b0b855335919945731f9368f83dc9,1,5.000000,193.000000,17.000000,Home & Garden
115605,0c800efe70e04ffcc3b266946e3e4826,1,4.000000,389.000000,11.000000,Home & Garden
115606,775596b5ab8f1cb5890c7263c1c92bc4,1,5.000000,139.000000,13.000000,Home & Garden
115607,cc9e875c2df286dbed83efe01191162c,1,5.000000,129.000000,18.000000,Home & Garden
115608,cc9e875c2df286dbed83efe01191162c,1,5.000000,129.000000,18.000000,Home & Garden

In [185]:
sales.isnull().sum()

product_id              0
sales_amt               0
avg_review_score        0
avg_price               0
estimated_delivery    935
product_category        0
dtype: int64

In [186]:
sales.dropna(axis="rows",inplace=True)

In [187]:
sales.isnull().sum()

product_id            0
sales_amt             0
avg_review_score      0
avg_price             0
estimated_delivery    0
product_category      0
dtype: int64

In [188]:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()

sales['product_category']= label_encoder.fit_transform(sales['product_category'])

In [189]:
from sklearn.model_selection import train_test_split

x = sales.drop(['product_id','sales_amt'], axis='columns')
y = sales[['sales_amt']]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 1/3, random_state = 101)

In [190]:
from sklearn import metrics

In [191]:
from sklearn.tree import DecisionTreeRegressor

In [192]:
dt = DecisionTreeRegressor(max_depth=10)

In [193]:
dt.fit(x_train,y_train)

DecisionTreeRegressor(max_depth=10)

In [194]:
y_pred_dt = dt.predict(x_test)

In [195]:
print("R squared value",metrics.r2_score(y_test,y_pred_dt))
print("MAE",metrics.mean_absolute_error(y_test,y_pred_dt))
print("MSE",np.sqrt(metrics.mean_squared_error(y_test,y_pred_dt)))

R squared value 0.8925899694335545
MAE 9.418818978021692
MSE 22.65397772150434

In [196]:
from sklearn.ensemble import RandomForestRegressor

rf= RandomForestRegressor(max_depth=10, min_samples_split = 5)

In [197]:
y_train = np.ravel(y_train)

In [198]:
rf.fit(x_train,y_train)

RandomForestRegressor(max_depth=10, min_samples_split=5)

In [199]:
y_pred_rf= rf.predict(x_test)

In [200]:
print("R squared value",metrics.r2_score(y_test,y_pred_rf))
print("MAE",metrics.mean_absolute_error(y_test,y_pred_rf))
print("MSE",np.sqrt(metrics.mean_squared_error(y_test,y_pred_rf)))

R squared value 0.9141446110412305
MAE 9.01071114599573
MSE 20.253767909430735

In [202]:
from xgboost import

SyntaxError: invalid syntax (3385494475.py, line 1)

In [203]:
xgb=XGBRegressor(n_estimators=100,random_state=42, learning_rate=0.05)

In [204]:
xgb.fit(x_train,y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=0.05, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=42, ...)

In [205]:
y_pred_xgb = xgb.predict(x_test)

In [206]:
print("R squared value",metrics.r2_score(y_test,y_pred_xgb))
print("MAE",metrics.mean_absolute_error(y_test,y_pred_xgb))
print("MSE",np.sqrt(metrics.mean_squared_error(y_test,y_pred_xgb)))

R squared value 0.9459609561509599
MAE 10.262075330105832
MSE 16.068519977477678

In [207]:
from sklearn.model_selection import train_test_split

x = sales.drop(['product_id','sales_amt'], axis='columns')
y = sales[['sales_amt']]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 1/3, random_state = 101)

In [208]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression()

In [209]:
y_pred_linear = regressor.predict(x_test)

In [210]:
print("R squared value",metrics.r2_score(y_test,y_pred_linear))
print("MAE",metrics.mean_absolute_error(y_test,y_pred_linear))
print("MSE",np.sqrt(metrics.mean_squared_error(y_test,y_pred_linear)))

R squared value 0.005427260737199013
MAE 39.14167447925617
MSE 68.9350864594877